<div>

    <div style="background-color: blue; width: 50%; height: 100px; float: left;">
        <h1>Hello Boss</h1>
        <p>This a test of rendreing a view in a PDF file</p>
    </div>

    <div style="background-color: yellow; width: 40%; height:  100px; float:right;">
        <h2>{{ Product.name }}</h2>
        <h3>{{ text }}</h3>
    </div>

</div>

<img src="{{ asset('upload/images/products/sony_mdr_xb550ap_b_xb550ap_extra_bass_headphones_1317724.jpg') }}" alt="Girl in a jacket"> 

{{ Product.description|raw  }}
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat molestiae delectus quibusdam suscipit officia quisquam, dolore possimus tempore nesciunt officiis autem ipsum natus quod exercitationem voluptate laborum minima laudantium commodi. Sunt asperiores placeat dolore perspiciatis aspernatur a consequuntur ullam corporis maiores molestias ipsum, fuga repellendus natus reprehenderit quos omnis alias et vero sed commodi voluptas magni vel veritatis ut. Excepturi vel aperiam, saepe sed perferendis dolores ipsum tempore, eius architecto, blanditiis ad nemo veniam? Aut reiciendis perspiciatis expedita pariatur sequi dolorum. Quisquam libero in harum, voluptas quam, cum veniam iure, nulla amet at atque incidunt corrupti magni cumque beatae dolores.</p>